@import 'common/main';

.grid {
  @include grid();
  @include grid-template-columns((1, 2, 2, 1, 1, 3, 1));
  @include grid-template-rows((1, 2, 1, 3));

  > * {

    &:first-child {
      @include grid-column(1, 2);
      @include grid-row(2, 1);
    }

    &:nth-child(2) {
      @include grid-column(1, 3);
      @include grid-row(3, 2);
    }

    &:nth-child(3) {
      @include grid-column(1, 1);
      @include grid-row(1, 1);
    }

    &:nth-child(4) {
      @include grid-column(2, 2);
      @include grid-row(1, 1);
    }

    &:nth-child(5) {
      @include grid-column(6, 1);
      @include grid-row(3, 1);
    }

    &:nth-child(6) {
      @include grid-column(6, 1);
      @include grid-row(2, 1);
    }

    &:nth-child(7) {
      @include grid-column(4, 1);
      @include grid-row(1, 1);
    }

    &:nth-child(8) {
      @include grid-column(5, 1);
      @include grid-row(1, 1);
    }

    &:nth-child(9) {
      @include grid-column(6, 1);
      @include grid-row(1, 1);
    }

    &:nth-child(10) {
      @include grid-column(4, 4);
      @include grid-row(4, 1);
    }

    &:nth-child(11) {
      @include grid-column(7, 1);
      @include grid-row(1, 3);
    }

    &:nth-child(12) {
      @include grid-column(4, 2);
      @include grid-row(2, 2);
    }
  }
}