@import 'common/main';

.grid {
  @include grid();
  @include grid-gap(20px);
  @include grid-columns(12);

  > * {

    &:first-child {
      @include grid-column(1, 3);
      @include grid-row(1, 1);
    }

    &:nth-child(2) {
      @include grid-column(4, 3);
      @include grid-row(1, 1);
    }

    &:nth-child(3) {
      @include grid-column(7, 3);
      @include grid-row(1, 1);
    }

    &:nth-child(4) {
      @include grid-column(10, 3);
      @include grid-row(1, 1);
    }

    &:nth-child(5) {
      @include grid-column(1, 4);
      @include grid-row(2, 1);
    }

    &:nth-child(6) {
      @include grid-column(5, 4);
      @include grid-row(2, 1);
    }

    &:nth-child(7) {
      @include grid-column(9, 4);
      @include grid-row(2, 1);
    }

    &:nth-child(8) {
      @include grid-column(1, 6);
      @include grid-row(3, 1);
    }

    &:nth-child(9) {
      @include grid-column(7, 6);
      @include grid-row(3, 1);
    }

    &:nth-child(10) {
      @include grid-column(1, 12);
      @include grid-row(4, 1);
    }

    &:nth-child(11) {
      @include grid-column(7, 6);
      @include grid-row(5, 1);
    }

    &:nth-child(12) {
      @include grid-column(1, 6);
      @include grid-row(5, 1);
    }
  }
}