.grid {

  > * {
    border: 2px solid rgba(0, 0, 0, .15);
    padding: 10px;
    font-size: 20px;
    font-weight: bold;

    &:first-child {
      background-color: plum;
    }

    &:nth-child(2) {
      background-color: DodgerBlue;
    }

    &:nth-child(3) {
      background-color: rgb(221, 82, 82);
    }

    &:nth-child(4) {
      background-color: MediumSeaGreen;
    }

    &:nth-child(5) {
      background-color: DarkGray;
    }

    &:nth-child(6) {
      background-color: DarkTurquoise;
    }

    &:nth-child(7) {
      background-color: Azure;
    }

    &:nth-child(8) {
      background-color: Salmon;
    }

    &:nth-child(9) {
      background-color: OliveDrab;
    }

    &:nth-child(10) {
      background-color:  Wheat;
    }

    &:nth-child(11) {
      background-color: PaleVioletRed;
    }

    &:nth-child(12) {
      background-color: Coral;
    }
  }

}
